---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---

<h1>{{page.title}}</h1>

<!-- professor -->

<h2><a id="professor"></a>Professor</h2>
{% assign number_displayed = 0 %}
{% assign members = site.posts | where: 'category', 'professor' | reverse %}
{% for member in members %}
    {% assign remainder = number_displayed | modulo: 3 %}
    {% if remainder == 0 %}
        <div class="row mt-3">
    {% endif %}
    <div class="card team-member-card">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100%; object-fit: cover; height: 15rem;"/>
            </a>
            <div class="col-md-10">
                <div class="card-body">
                <h4 class="card-title">{{ member.title }}</h4>
                <p class="card-text">{{ member.role }}</p>
                </div>
            </div>
        </div>
    </div>
    {% assign number_displayed = number_displayed | plus: 1 %}
    {% if remainder == 2 %}
        </div>
    {% endif %}
{% endfor %}
{% assign remainder = number_displayed | modulo: 3 %}
{% if remainder == 2 %}
</div>
{% endif %}




<!-- Researcher -->

<h2><a id="student"></a>Researcher</h2>
{% assign number_displayed = 0 %}
{% assign members = site.posts | where: 'category', 'researcher' | reverse %}
{% for member in members %}
    {% assign remainder = number_displayed | modulo: 3 %}
    {% if remainder == 0 %}
        <div class="row mt-3">
    {% endif %}
    <div class="card team-member-card">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100%; object-fit: cover; height: 15rem;"/>
            </a>
            <div class="card-body">
                <h4 class="card-title">{{ member.title }}</h4>
                <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
    {% assign number_displayed = number_displayed | plus: 1 %}
    {% if remainder == 2 %}
        </div>
    {% endif %}
{% endfor %}
{% assign remainder = number_displayed | modulo: 3 %}
{% if remainder == 2 %}
</div>
{% endif %}

<!-- Staff -->

<h2><a id="staff"></a>Staff</h2>
{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="width: 100%; object-fit: cover; height: 15rem;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}


