---
title: "Publications"
layout: default
excerpt: "BAPOR Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">

    {% for publi in site.data.publications %}
        <div class="panel-heading">
           
            <!-- title with link -->
            "{{ publi.title }}",

            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.authors %}
                {% assign authors = authors | push: author %}
            {% endfor %}

            <br><em>{{ authors | array_to_sentence_string }}</em>,
            
            <!-- container -->
            <br><b>{{ publi.publisher }}</b>

            <!-- issued date -->
            ({{ publi.date | date: "%Y" }}),

            <!-- DOI -->
            <a href="https://doi.org/{{publi.id}}">{{publi.id}}</a>
        </div>
    {% endfor %}
    </div>
</div>
