<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<p>@2023 BAPOR Lab</p>
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/lab-logo.jpg"
				     style="max-width: 200px;">
			</div>

			<div class="col-sm-6">
				<p>Contact: </p>
				<p>Signalhouse, 11th Floor, Asan Institute for Life Sciences, 88, Olympic-ro 43-gil, Songpa-gu, Seoul 05505, Republic of Korea</p>
				<p>shkimans@gmail.com</p>
			</div>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
